@using Models.EF;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<sDonVi> lstDV = ViewBag.lstLib;
}

<!-- banner -->
<div class="banner-bg-inner">
    <!-- banner-text -->
    <div class="banner-text-inner">
        <div class="container">
            <h2 class="title-inner" style="font-family:Tahoma">
                hệ thống thư viện
            </h2>
        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="crumbs text-center">
    <div class="container">
        <div class="row">
            <ul class="btn-group btn-breadcrumb bc-list">
                <li class="btn btn1">
                    <a href="/">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li class="btn btn2">
                    <a href="/LibraryList/Index">Danh sách thư viện</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--//breadcrumbs ends here-->

<div class="section contact" id="contact">
    <div class="container">
        <h4 class="rad-txt text-center">
            <span class="abtxt1">Đơn vị hiện tại</span>
            <span class="abtext">@Session["Portal_Ten"]</span>
        </h4>
        <div class="contact-form row">
            @foreach (var item in lstDV)
            {
                <div class="col-md-3 col-sm-3 agileits elite-services1 margin-top-50" data-aos="fade-up">
                    <div class="bott-img agileits w3layouts">
                        <div class="icon-holder agileits w3layouts">
                            <span class="fa fa-university agileits w3layouts service-icon" aria-hidden="true"></span>
                        </div>
                        <h4 class="mission agileits w3layouts">@item.TenDonVi</h4>
                        <div class="description agileits w3layouts">
                            <a href="/LibraryList/Detail/@item.ID">Truy cập</a>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>