@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/assets/client/plugin/select2/css/select2.min.css" rel="stylesheet" />
}
<!-- banner -->
<div class="banner-bg-inner">
    <!-- banner-text -->
    <div class="banner-text-inner">
        <div class="container">
            <h2 class="title-inner">
                world of reading
            </h2>
        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="crumbs text-center">
    <div class="container">
        <div class="row">
            <ul class="btn-group btn-breadcrumb bc-list">
                <li class="btn btn1">
                    <a href="/">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li class="btn btn2">
                    <a href="/Book/Index">Thư viện sách</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--//breadcrumbs ends here-->
<!-- Shop -->
<div class="innerf-pages section">
    <div class="container-cart">
        <!-- product left -->
        <div class="side-bar col-md-3">
            <!-- // preference -->
            <div class="search-hotel">
                <form action="#" method="post">
                    <input type="search" placeholder="Tìm kiếm theo nhan đề" name="search" required="">
                    <input type="submit" value="Tìm kiếm">
                </form>
            </div>
            <!--preference -->
            <div class="left-side">
                <h3 class="shopf-sear-headits-sear-head">
                    Danh mục
                </h3>
                <ul>
                    <li>
                        <label style="font-weight:normal">
                            <input type="checkbox" class="checked">
                            <span class="span">sách giáo khoa</span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">Fiction</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">Management</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">Business</span>
                    </li>
                </ul>
            </div>
            <!-- //price range -->
            <!--preference -->
            <div class="left-side">
                <h3 class="shopf-sear-headits-sear-head">
                    <span>Tác</span> giả
                </h3>
                <select class="form-control select2">
                    <option value="1">test</option>
                    <option value="2">supper test</option>
                    <option value="3">nomarl test</option>
                    <option value="4">demo test</option>
                    <option value="5">test ok</option>
                </select>
            </div>
            <!-- // preference -->
        </div>
        <!-- //product left -->
        <!-- product right -->
        <div class="left-ads-display col-md-9">
            <div class="wrapper_top_shop">
                <!-- product-sec1 -->
                <div class="product-sec1">
                    <!-- row1-->
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="~/assets/client/images/lib8.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>be creative</h4>
                                <p>Clayton Barton</p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="chr_item" value="Book1">
                                    <input type="hidden" name="amount" value="100.00">
                                    <button type="submit" class="chr-cart pchr-cart">
                                        Mượn sách
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="~/assets/client/images/lib7.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>marketing</h4>
                                <p>Niel Fontine</p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="chr_item" value="Book2">
                                    <input type="hidden" name="amount" value="200.00">
                                    <button type="submit" class="chr-cart pchr-cart">
                                        Mượn sách
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="~/assets/client/images/lib3.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>work from home</h4>
                                <p>Jose portilla</p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="chr_item" value="Book3">
                                    <input type="hidden" name="amount" value="80.00">
                                    <button type="submit" class="chr-cart pchr-cart">
                                        Mượn sách
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="~/assets/client/images/lib6.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>online business</h4>
                                <p>Clayton Barton</p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="chr_item" value="Book4">
                                    <input type="hidden" name="amount" value="120.00">
                                    <button type="submit" class="chr-cart pchr-cart">
                                        Mượn sách
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- //row1 -->
                    <!-- row2 -->
                    <div class="col-md-3 product-men women_two">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="~/assets/client/images/lib6.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>e-commerce</h4>
                                <p>Chris Haroun</p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="chr_item" value="Book5">
                                    <input type="hidden" name="amount" value="125.00">
                                    <button type="submit" class="chr-cart pchr-cart">
                                        Mượn sách
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men women_two">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="~/assets/client/images/lib2.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>kids</h4>
                                <p>Alex Even</p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="chr_item" value="Book6">
                                    <input type="hidden" name="amount" value="70.00">
                                    <button type="submit" class="chr-cart pchr-cart">
                                        Mượn sách
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men women_two">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="~/assets/client/images/lib5.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>media</h4>
                                <p>Alex Even</p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="chr_item" value="Book7">
                                    <input type="hidden" name="amount" value="220.00">
                                    <button type="submit" class="chr-cart pchr-cart">
                                        Mượn sách
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men women_two">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="~/assets/client/images/lib4.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>membership</h4>
                                <p>Hadilen de</p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="chr_item" value="Book8">
                                    <input type="hidden" name="amount" value="210.00">
                                    <button type="submit" class="chr-cart pchr-cart">
                                        Mượn sách
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- //row2 -->
                    <!-- row3 -->
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="~/assets/client/images/lib7.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>marketing</h4>
                                <p>Scott Harris</p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="chr_item" value="Book9">
                                    <input type="hidden" name="amount" value="180.00">
                                    <button type="submit" class="chr-cart pchr-cart">
                                        Mượn sách
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="~/assets/client/images/lib1.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>online business</h4>
                                <p>Scott Harris</p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="chr_item" value="Book10">
                                    <input type="hidden" name="amount" value="330.00">
                                    <button type="submit" class="chr-cart pchr-cart">
                                        Mượn sách
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="~/assets/client/images/lib2.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>kids</h4>
                                <p>Cordebard</p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="chr_item" value="Book11">
                                    <input type="hidden" name="amount" value="280.00">
                                    <button type="submit" class="chr-cart pchr-cart">
                                        Mượn sách
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="~/assets/client/images/lib3.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>work from home</h4>
                                <p>Cordebard</p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="chr_item" value="Book12">
                                    <input type="hidden" name="amount" value="140.00">
                                    <button type="submit" class="chr-cart pchr-cart">
                                        Mượn sách
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </button>
                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- //row3 -->
                    <div class="clearfix"></div>
                </div>

                <!-- //product-sec1 -->
                <div class="clearfix"></div>
            </div>

            <div class="text-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--// Shop -->

@section Scripts{
    <script src="~/assets/client/plugin/select2/js/select2.full.min.js"></script>
    <script>
        $('.select2').select2({
        });
    </script>
}